In [30]:
import pandas as pd
df=pd.read_csv("C:/Users/CHITRAK/Desktop/GitHub/Fake News/train_news.csv")
df.head()

,Unnamed: 0,id,headline,written_by,news,label
0,0,9653,Ethics Questions Dogged Agriculture Nominee as...,Eric Lipton and Steve Eder,"WASHINGTON — In Sonny Perdue’s telling, Geo...",0
1,1,10041,U.S. Must Dig Deep to Stop Argentina’s Lionel ...,David Waldstein,HOUSTON — Venezuela had a plan. It was a ta...,0
2,2,19113,Cotton to House: ’Do Not Walk the Plank and Vo...,Pam Key,"Sunday on ABC’s “This Week,” while discussing ...",0
3,3,6868,"Paul LePage, Besieged Maine Governor, Sends Co...",Jess Bidgood,"AUGUSTA, Me. — The beleaguered Republican g...",0
4,4,7596,A Digital 9/11 If Trump Wins,Finian Cunningham,Finian Cunningham has written extensively on...,1

In [31]:
df.shape

(20800, 6)

In [32]:
df.info

<bound method DataFrame.info of        Unnamed: 0     id                                           headline  \
0               0   9653  Ethics Questions Dogged Agriculture Nominee as...
1               1  10041  U.S. Must Dig Deep to Stop Argentina’s Lionel ...
2               2  19113  Cotton to House: ’Do Not Walk the Plank and Vo...
3               3   6868  Paul LePage, Besieged Maine Governor, Sends Co...
4               4   7596                       A Digital 9/11 If Trump Wins
...           ...    ...                                                ...
20795       20795   5671                                                NaN
20796       20796  14831        Albert Pike and the European Migrant Crisis
20797       20797  18142  Dakota Access Caught Infiltrating Protests to ...
20798       20798  12139  How to Stretch the Summer Solstice - The New Y...
20799       20799  15660  Emory University to Pay for ’100 Percent’ of U...

                       written_by  \
0      Eric Lipton and Steve Eder
1                 David Waldstein
2                         Pam Key
3                    Jess Bidgood
4               Finian Cunningham
...                           ...
20795              NeverSurrender
20796               Rixon Stewart
20797                 Eddy Lavine
20798              Alison S. Cohn
20799                Tom Ciccotta

                                                    news  label
0      WASHINGTON  —   In Sonny Perdue’s telling, Geo...      0
1      HOUSTON  —   Venezuela had a plan. It was a ta...      0
2      Sunday on ABC’s “This Week,” while discussing ...      0
3      AUGUSTA, Me.  —   The beleaguered Republican g...      0
4        Finian Cunningham has written extensively on...      1
...                                                  ...    ...
20795  No, you'll be a dog licking of the vomit of yo...      1
20796  By Rixon Stewart on November 5, 2016 Rixon Ste...      1
20797  posted by Eddie You know the Dakota Access Pip...      1
20798  It’s officially summer, and the Society Boutiq...      0
20799  Emory University in Atlanta, Georgia, has anno...      0

[20800 rows x 6 columns]>

In [33]:
round((df.isnull().sum().sort_values(ascending=False) * 100 /len(df)),2)

written_by    9.41
headline      2.68
news          0.19
label         0.00
id            0.00
Unnamed: 0    0.00
dtype: float64

In [34]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer

In [35]:
df=df.dropna()
df.shape

(18285, 6)

In [36]:
df.head

<bound method NDFrame.head of        Unnamed: 0     id                                           headline  \
0               0   9653  Ethics Questions Dogged Agriculture Nominee as...
1               1  10041  U.S. Must Dig Deep to Stop Argentina’s Lionel ...
2               2  19113  Cotton to House: ’Do Not Walk the Plank and Vo...
3               3   6868  Paul LePage, Besieged Maine Governor, Sends Co...
4               4   7596                       A Digital 9/11 If Trump Wins
...           ...    ...                                                ...
20794       20794    366  One Police Shift: Patrolling an Anxious Americ...
20796       20796  14831        Albert Pike and the European Migrant Crisis
20797       20797  18142  Dakota Access Caught Infiltrating Protests to ...
20798       20798  12139  How to Stretch the Summer Solstice - The New Y...
20799       20799  15660  Emory University to Pay for ’100 Percent’ of U...

                       written_by  \
0      Eric Lipton and Steve Eder
1                 David Waldstein
2                         Pam Key
3                    Jess Bidgood
4               Finian Cunningham
...                           ...
20794          The New York Times
20796               Rixon Stewart
20797                 Eddy Lavine
20798              Alison S. Cohn
20799                Tom Ciccotta

                                                    news  label
0      WASHINGTON  —   In Sonny Perdue’s telling, Geo...      0
1      HOUSTON  —   Venezuela had a plan. It was a ta...      0
2      Sunday on ABC’s “This Week,” while discussing ...      0
3      AUGUSTA, Me.  —   The beleaguered Republican g...      0
4        Finian Cunningham has written extensively on...      1
...                                                  ...    ...
20794  Policing in America today is a rib dinner paid...      0
20796  By Rixon Stewart on November 5, 2016 Rixon Ste...      1
20797  posted by Eddie You know the Dakota Access Pip...      1
20798  It’s officially summer, and the Society Boutiq...      0
20799  Emory University in Atlanta, Georgia, has anno...      0

[18285 rows x 6 columns]>

In [37]:
df.reset_index(inplace=True)
df.head()

,index,Unnamed: 0,id,headline,written_by,news,label
0,0,0,9653,Ethics Questions Dogged Agriculture Nominee as...,Eric Lipton and Steve Eder,"WASHINGTON — In Sonny Perdue’s telling, Geo...",0
1,1,1,10041,U.S. Must Dig Deep to Stop Argentina’s Lionel ...,David Waldstein,HOUSTON — Venezuela had a plan. It was a ta...,0
2,2,2,19113,Cotton to House: ’Do Not Walk the Plank and Vo...,Pam Key,"Sunday on ABC’s “This Week,” while discussing ...",0
3,3,3,6868,"Paul LePage, Besieged Maine Governor, Sends Co...",Jess Bidgood,"AUGUSTA, Me. — The beleaguered Republican g...",0
4,4,4,7596,A Digital 9/11 If Trump Wins,Finian Cunningham,Finian Cunningham has written extensively on...,1

In [38]:
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(df)):
    review = re.sub('[^a-zA-Z]', ' ', df['headline'][i])
    review = review.lower()
    review = review.split()    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)
corpus[:5]

['ethic question dog agricultur nomine georgia governor new york time',
 'u must dig deep stop argentina lionel messi new york time',
 'cotton hous walk plank vote bill cannot pass senat breitbart',
 'paul lepag besieg main governor send conflict signal intent new york time',
 'digit trump win']

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=4094,ngram_range=(1,3))
X = cv.fit_transform(corpus).toarray()
X.shape

(18285, 4094)

In [40]:
y=df['label']
y.head()

0    0
1    0
2    0
3    0
4    1
Name: label, dtype: int64

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,stratify=y)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((14628, 4094), (3657, 4094), (14628,), (3657,))

In [42]:
cv.get_feature_names()[:5]

['abandon', 'abc', 'abduct', 'abe', 'abedin']

In [43]:
cv.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.int64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': 4094,
 'min_df': 1,
 'ngram_range': (1, 3),
 'preprocessor': None,
 'stop_words': None,
 'strip_accents': None,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'vocabulary': None}

In [44]:
count_df = pd.DataFrame(X_train, columns=cv.get_feature_names())
count_df.head()

,abandon,abc,abduct,abe,abedin,abort,abroad,absolut,abus,abus new,...,youth,youtub,zealand,zero,zika,zika viru,zionist,zone,zu,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()
classifier.fit(X_train, y_train)

MultinomialNB()

In [46]:
from sklearn.metrics import classification_report
print(classification_report(y_test,classifier.predict(X_test),target_names=['FAKE', 'REAL']))

              precision    recall  f1-score   support

        FAKE       0.92      0.89      0.90      2072
        REAL       0.87      0.89      0.88      1585

    accuracy                           0.89      3657
   macro avg       0.89      0.89      0.89      3657
weighted avg       0.89      0.89      0.89      3657

In [47]:
from sklearn import metrics
score = metrics.accuracy_score(y_test, classifier.predict(X_test))
score

0.8930817610062893

In [48]:
from sklearn.linear_model import PassiveAggressiveClassifier
linear_clf = PassiveAggressiveClassifier(max_iter=64)

In [49]:
linear_clf.fit(X_train, y_train)
print(classification_report(y_test,linear_clf.predict(X_test),target_names=['FAKE', 'REAL']))

              precision    recall  f1-score   support

        FAKE       0.92      0.92      0.92      2072
        REAL       0.90      0.89      0.89      1585

    accuracy                           0.91      3657
   macro avg       0.91      0.91      0.91      3657
weighted avg       0.91      0.91      0.91      3657

In [50]:
score = metrics.accuracy_score(y_test, linear_clf.predict(X_test))
score

0.9075745146294777

In [51]:
classifier=MultinomialNB(alpha=0.1)
import numpy as np
previous_score=0
for alpha in np.arange(0,1,0.05):
    sub_classifier=MultinomialNB(alpha=alpha)
    sub_classifier.fit(X_train,y_train)
    y_pred=sub_classifier.predict(X_test)
    score = metrics.accuracy_score(y_test, y_pred)
    if score>previous_score:
        classifier=sub_classifier
    print("Alpha: {}, Score : {}".format(alpha,score))

c:\users\chitrak\appdata\local\programs\python\python39\lib\site-packages\sklearn\naive_bayes.py:508: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  warnings.warn('alpha too small will result in numeric errors, '

Alpha: 0.0, Score : 0.8851517637407711
Alpha: 0.05, Score : 0.8925348646431501
Alpha: 0.1, Score : 0.8919879682800109
Alpha: 0.15000000000000002, Score : 0.8922614164615805
Alpha: 0.2, Score : 0.8919879682800109
Alpha: 0.25, Score : 0.8922614164615805
Alpha: 0.30000000000000004, Score : 0.8917145200984413
Alpha: 0.35000000000000003, Score : 0.8914410719168717
Alpha: 0.4, Score : 0.8911676237353021
Alpha: 0.45, Score : 0.8925348646431501
Alpha: 0.5, Score : 0.8928083128247197
Alpha: 0.55, Score : 0.8930817610062893
Alpha: 0.6000000000000001, Score : 0.8933552091878589
Alpha: 0.65, Score : 0.8933552091878589
Alpha: 0.7000000000000001, Score : 0.8936286573694285
Alpha: 0.75, Score : 0.8933552091878589
Alpha: 0.8, Score : 0.8930817610062893
Alpha: 0.8500000000000001, Score : 0.8933552091878589
Alpha: 0.9, Score : 0.8936286573694285
Alpha: 0.9500000000000001, Score : 0.8930817610062893

In [52]:
feature_names = cv.get_feature_names()
feature_names[:5]

['abandon', 'abc', 'abduct', 'abe', 'abedin']

In [53]:
classifier.coef_[0]

c:\users\chitrak\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\deprecation.py:101: FutureWarning: Attribute coef_ was deprecated in version 0.24 and will be removed in 1.1 (renaming of 0.26).
  warnings.warn(msg, category=FutureWarning)

array([-8.85746703, -8.72303676, -9.01281747, ..., -7.90861858,
       -8.72303676, -9.42249311])

In [54]:
sorted(zip(classifier.coef_[0], feature_names), reverse=True)[:5]

[(-3.921028257947796, 'trump'),
 (-4.200496485380334, 'hillari'),
 (-4.281570076942919, 'clinton'),
 (-4.856169025881961, 'elect'),
 (-5.076060862255289, 'new')]

In [55]:
sorted(zip(classifier.coef_[0], feature_names))[:5]

[(-10.847501985385305, 'abroad'),
 (-10.847501985385305, 'abus new'),
 (-10.847501985385305, 'abus new york'),
 (-10.847501985385305, 'act new'),
 (-10.847501985385305, 'act new york')]